@import "tailwindcss";


.login{
  background-color: rgb(0,0,0);
  color: white;
  font-weight: bold;
  border: 3px solid hsl(0, 0%, 95%);
  margin-top: 5rem;
  z-index: 2;
  padding: 20px;
  text-align: center;
}